:root {
    --width: 720px;
    --margin-begins: calc(260px * 2 + var(--width));
    --font-main: UbuntuMono, sans-serif;
    --font-secondary: UbuntuMono, sans-serif;
    --font-code: UbunutMono, monospace;
    --font-scale: 1.1em;
    --background-color: #212539;
    --background-color-trans: rgb(104, 116, 144);
    --background-color-2: #18202c;
    --accent-color: #495777;
    --heading-color: #e6e6cb;
    --text-color: #e6e6cb;
    --link-color: #81b2ff;
    --visited-color: #7b5bcc;
    --code-background-color: #18202c;
    --code-color: #fdc6b3;
    --blockquote-color: #ffffff;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/site/fonts/Alegreya-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya';
    src: url('/site/fonts/Alegreya-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya';
    src: url('/site/fonts/Alegreya-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya';
    src: url('/site/fonts/Alegreya-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya';
    src: url('/site/fonts/Alegreya-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alegreya';
    src: url('/site/fonts/Alegreya-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('/site/fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'UbuntuMono';
    src: url('/site/fonts/UbuntuMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'UbuntuMono';
    src: url('/site/fonts/UbuntuMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'UbuntuMono';
    src: url('/site/fonts/UbuntuMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/site/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/site/fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/site/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/site/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: var(--font-main), sans-serif;
    font-size: var(--font-scale);
    font-weight: 400;
    word-spacing: -0.2em;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.6;
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary), sans-serif;
    font-weight: 500;
    color: var(--heading-color);
    margin-bottom: -0.2em;
}
h1{
    font-size: 2.5em;
    margin-bottom: 0.4em;
}
h2{
    font-size: 2em;
    margin-top: 1em;
}
h3{
    font-size: 1.8em;
    margin-top: 1.1em;
}
h4{
    font-size: 1.6em;
    margin-top: 1.2em;
}
h5{
    font-size: 1.4em;
    margin-top: 1.4em;
}
h6{
    font-size: 1.2em;
    margin-top: 1.5em;
}

img{
    max-width: 100%;
    height: auto;
}
image{
    max-width: 100%;
    height: auto;
}
picture{
    max-width: 100%;
    height: auto;
}

aside, footer{
    color: var(--code-color);
    font-family: var(--font-code), monospace;
}
code{
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-family: var(--font-code), monospace;
    border-radius: 0.2em;
}
.astro-code{
    background-color: var(--code-background-color) !important;
    border-radius: 0.5em;
    padding: 1em;
}


table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    font-family: var(--font-code), monospace;
    color: var(--code-color);
    margin-bottom: -0.8em;
}
th,
td {
    vertical-align: top;
    padding: 0.05em 0.4em;
    border-right: 2px solid var(--accent-color);
}
th{
    background-color: var(--background-color-2);
    border-bottom: 2px solid var(--accent-color);
    font-weight: 400;
}
tbody tr:nth-child(even) {
    background-color: var(--background-color-2);
}
tr td:last-child, th:last-child{
    border-right: 0;
}
table::after{
    content: '';
    display: block;
    height: 8px;
}



main {
    max-width: var(--width);
    margin: 0 auto;
    padding: 20px;
}
@media (max-width: 1300px) {
    main {
        margin-left: 270px;
    }
    main.collapsed {
        margin: 0 auto;
    }
}
@media (max-width: 1030px) {
    main, main.collapsed {
        margin: 0 auto;
    }
}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--text-color);
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    overflow-x: hidden;
    padding-top: 40px;
    padding-left: 20px;
    background-color: var(--background-color);
}
.sidenav.collapsed {
    width: 0;
    padding-left: 0;
}

footer {
    padding: 4em 0 5em 0;
    text-align: center;
    color: var(--code-color);
    line-height: 2em;
}

.toggle-btn {
    position: fixed;
    border-radius: 100%;
    left: 10px;
    top: 5px;
    z-index: 2;
    color: var(--text-color);
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    font-weight: 700;
}
.toggle-btn:hover {
    color: var(--link-color);
}
.toggle-btn.collapsed {
    transform: scaleX(-1);
}


ul{
    list-style-type: "⚘  ";
}
.sidebar-ul{
    font-family: var(--font-secondary), serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.caret{
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 2;
}

.caret:hover{
    color: var(--link-color);
}

.caret::before {
    content: "🌿";
    display: inline-block;
    margin-right: 6px;
    transform: rotate(60deg);
}

.caret-down::before {
    transform: rotate(150deg);
}

.nested {
    display: none;
    list-style-type: "⚘ ";
    font-weight: 400;
    font-family: var(--font-main), sans-serif;
}

.active {
    display: block;
}