:root {
    --width: 800px;
    --font-main: Bookerly, serif;
    --font-secondary: Bookerly, serif;
    --font-scale: 1em;
    --background-color: #192a40;
    --background-color-trans: rgba(25, 42, 64, 0.9);
    --heading-color: #ffffff;
    --text-color: #ffffff;
    --link-color: #66a0ff;
    --visited-color: #7b5bcc;
    --code-background-color: #000000;
    --code-color: #e8d7d7;
    --blockquote-color: #ffffff;
}
@font-face {
    font-family: 'Bookerly';
    src: url('/fonts/bookerly-regular.woff') format('woff');
    font-weight: 1;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: var(--font-main), serif;
    font-size: var(--font-scale);
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

.main {
    max-width: var(--width);
    margin: 0 auto;
    padding: 20px;
}
@media (max-width: 1280px) {
    .main {
        margin-left: 220px;
    }
    .main.collapsed {
        margin: 0 auto;
    }
}
@media (max-width: 1080px) {
    .main {
        margin: 0 auto;
    }
}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--text-color);
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    overflow-x: hidden;
    padding-top: 40px;
    padding-left: 20px;
    background-color: var(--background-color-trans);
}
.sidenav.collapsed {
    width: 0;
    padding-left: 0;
}

.toggle-btn {
    position: fixed;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    color: var(--text-color);
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px 5px;

}
.toggle-btn:hover {
    color: var(--link-color);
}
.toggle-btn.collapsed {
    left: 0;
    transform: scaleX(-1);
}


ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret{
    cursor: pointer;
    user-select: none;
}

.caret:hover{
    color: var(--link-color);
}

.caret::before {
    content: "🌿";
    display: inline-block;
    margin-right: 6px;
    transform: rotate(60deg);
}

.caret-down::before {
    transform: rotate(150deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}