:root {
    --width: 720px;
    --margin-begins: calc(260px * 2 + var(--width));
    --font-main: Dante, serif;
    --font-secondary: Dante, serif;
    --font-scale: 1.2em;
    --background-color: #24293e;
    --background-color-trans: rgb(104, 116, 144);
    --heading-color: #fdfde1;
    --text-color: #fdfde1;
    --link-color: #81b2ff;
    --visited-color: #7b5bcc;
    --code-background-color: #000000;
    --code-color: #fdc6b3;
    --blockquote-color: #ffffff;
}

@font-face {
    font-family: 'Dante';
    src: url('/site/fonts/DanteMTStd-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dante';
    src: url('/site/fonts/DanteMTStd-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dante';
    src: url('/site/fonts/DanteMTStd-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Dante';
    src: url('/site/fonts/DanteMTStd-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Dante';
    src: url('/site/fonts/DanteMTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dante';
    src: url('/site/fonts/DanteMTStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: var(--font-main), serif;
    font-size: var(--font-scale);
    font-weight: 400;
    letter-spacing: 0.025em;
    word-spacing: -0.1em;
    margin: 0;
    padding: 0;
    text-align: justify;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.3;
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary), serif;
    font-weight: 500;
    color: var(--heading-color);
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.8em;
}
h4{
    font-size: 1.6em;
}
h5{
    font-size: 1.4em;
}
h6{
    font-size: 1.2em;
}

img{
    max-width: 100%;
    height: auto;
}
image{
    max-width: 100%;
    height: auto;
}
picture{
    max-width: 100%;
    height: auto;
}

aside, footer{
    color: var(--code-color);
    font-size: 0.9em;
}
code{
    color: var(--code-color);
    background-color: var(--code-background-color);
}



main {
    max-width: var(--width);
    margin: 0 auto;
    padding: 20px;
}
@media (max-width: 1300px) {
    main {
        margin-left: 270px;
    }
    main.collapsed {
        margin: 0 auto;
    }
}
@media (max-width: 1030px) {
    main, main.collapsed {
        margin: 0 auto;
    }
}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--text-color);
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    overflow-x: hidden;
    padding-top: 40px;
    padding-left: 20px;
    background-color: var(--background-color);
}
.sidenav.collapsed {
    width: 0;
    padding-left: 0;
}

footer {
    font-weight: 200;
    padding: 3em 0 0 0;
    text-align: center;
    color: var(--code-color);
}

.toggle-btn {
    position: fixed;
    border-radius: 100%;
    left: 10px;
    top: 5px;
    z-index: 2;
    color: var(--text-color);
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    font-weight: 700;
}
.toggle-btn:hover {
    color: var(--link-color);
}
.toggle-btn.collapsed {
    transform: scaleX(-1);
}


ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret{
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 2;
}

.caret:hover{
    color: var(--link-color);
}

.caret::before {
    content: "🌿";
    display: inline-block;
    margin-right: 6px;
    transform: rotate(60deg);
}

.caret-down::before {
    transform: rotate(150deg);
}

.nested {
    display: none;
    list-style-type: "⚘ ";
    font-weight: 400;
}

.active {
    display: block;
}