---
import BaseLayout from '../components/BaseLayout.astro';
import { getPosts } from '../content.loader';

export async function getStaticPaths() {
    const posts = await getPosts();
    return posts.map(post => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
---

<BaseLayout title={post.title}>
    <article>
        <h1>{post.title}</h1>
        <aside>{post.date.getDate() + '.' + (post.date.getMonth() + 1) + '.' + post.date.getFullYear()}</aside>
        <Fragment set:html={post.body} />
    </article>
</BaseLayout>