---
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<title></title>
	</head>
	<body>
		<Sidebar />
		<div class="main">
			<main>
				<h1>Welcome! ☀️</h1>
				hellohhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
			</main>
		</div>
	</body>
</html>
