---
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
	<h1>Welcome! ☀️</h1>
	<p>
		Hi, I'm Will, and this is my website. If you check the Blog and Games tabs on the left you can see what I get up
		to. All contact info and social links are at the bottom of the page.
	</p>
</BaseLayout>
