---
import BaseLayout from "../components/BaseLayout.astro";
import { Image } from 'astro:assets';
import image from "../images/Baccki-export.png";
---

<BaseLayout>
	<h1>Welcome!🌼</h1>
	<p>
		Hi, I'm Will, I'm a UK-based Game-Developer, and this is my website. If you check the Blog and Games tabs on
		 the left, you can see what I get up to. All contact info and social links are at the bottom of the page.
	</p>
	<Image src={image} alt="Background from a game I made." loading="eager" />
</BaseLayout>
