---
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
	<h1>Welcome! ☀️</h1>
	<p>Select a post from the sidebar to start reading.</p>
</BaseLayout>
