---
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <div class="layout">
            <Sidebar />
            <main>
                <slot />
                <Footer />
            </main>
        </div>
    </body>
</html>
