---

---
<head>
    <style>
        a {
            color: var(--text-color);
            text-decoration: none;
            user-select: none;
        }
        a:hover {
            color: var(--link-color);
        }
    </style>
</head>
<button class="toggle-btn"><-</button>
<nav class="sidenav">
    <h1><a href="/">Home</a></h1>
    <ul id="myUL">
        <li><span class="caret">Games</span>
            <ul class="nested">
                <li><a href="/games/platformer/Platformer.html" target="_blank">2D</a></li>
                <li>Coffee</li>

            </ul>
        </li>
    </ul>
</nav>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }

    const toggleBtn = document.querySelector('.toggle-btn');
    const sidenav = document.querySelector('.sidenav');
    const main = document.querySelector('.main');

    toggleBtn.addEventListener('click', () => {
        sidenav.classList.toggle('collapsed');
        toggleBtn.classList.toggle('collapsed');
        main.classList.toggle('collapsed');
    });

</script>