---
import {getPostsMetadata} from "../content.loader";
const posts = await getPostsMetadata();

const postsByCategory: Record<string, Array<{title: string, url: string}>> = {};
posts.forEach(post => {
    const parts = post.slug.split('/');
    const category = parts.length > 1 ? parts[0] : 'Other';
    if (!postsByCategory[category]) {
        postsByCategory[category] = [];
    }
    postsByCategory[category].push({
        title: post.title,
        url: post.url,
    });
});

---

<button class="toggle-btn" aria-label="Toggle Sidebar"><<</button>
<nav class="sidenav">
    <h1><a href="/site/" style="color: var(--heading-color)">Home</a></h1>
    <ul class="sidebar-ul">
        {Object.entries(postsByCategory).map(([category, items]) => (
                <li>
                    <span class="caret">{category}</span>
                    <ul class="nested">
                        {items.map(item => (
                                <li><a href={item.url}>{item.title}</a></li>
                        ))}
                    </ul>
                </li>
        ))}
    </ul>
</nav>

<style>
    a {
        color: var(--text-color);
        text-decoration: none;
        user-select: none;
        font-style: italic;
    }
    a:hover {
        color: var(--link-color);
    }
</style>

<script>
    import { sidebarState } from '../SidebarState.ts';

    document.addEventListener('DOMContentLoaded', () => {
        sidebarState.init();
    });
</script>